/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Bodoni+Moda&family=DM+Serif+Display&family=Major+Mono+Display&family=Montserrat&family=Neonderthaw&family=Playfair+Display&family=Poppins&display=swap');

/* Universal CSS properties */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        background-color: #ececec;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        z-index: 2;
    }


    .content {
        flex-basis: 30%;
        margin-left: 7vw;
        z-index: 2;
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    h1, h2 {
        font-family: "DM Serif Display";
        color: black;
    }

    h1 {
        font-size: 2vw;
    }

    p {
        font-family: 'Poppins';
    }

    textarea {
        font-family: 'poppins';
        border: none;
        border-bottom: 2px solid darkslategray;
        width: 30vw;
        margin-top: 1vw;
        font-size: 0.8vw;
        background-color: #292929;
        color: #c4c4c4;
        border-radius: 10px 0px 10px 0px;
        padding: 1vw;
        height: 10vw;
    }

    input {
        display: flex;
        border: none;
        border-bottom: 2px solid darkslategray;
        color: #555555;
        background-color: #ececec;
        font-family: 'poppins';
        width: 30vw;
        height: 2vw;
        margin-top: 1vw;
        font-size: 0.8vw;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

    #submit_btn {
        display: flex;
        justify-content: center;
        margin-left: 25vw;
        border: 2px solid darkslategray;
        color: #555555;
        background-color: #ececec;
        font-family: 'poppins';
        width: auto;
        height: auto;
        padding: 0.5vw 1vw 0.5vw 1vw;
        border-radius: 10px 0px 10px 0px;
        margin-top: 1vw;
    }

    #submit_btn:hover {
        background-color: #303030;
        border: 2px solid #303030;
        color: whitesmoke;
    }

    #conformation {
        text-align: center;
        width: 15vw;
        font-size: 1.5vw;
        display: block;
        margin-top: -20vw;
        margin-left: 45vw;
        background-color: #252525ce;
        padding: 2vw;
        font-family: 'Bebas Neue';
        z-index: 6;
        color: white;
        position: relative;
        letter-spacing: 0.1vw;
        border-radius: 40px 0px 40px 0px;
    }

    img {
        margin-left: 30vw;
        margin-top: 4vw;
        height: 35vw;
        z-index: 1;
        position: relative;
    }

}